header {
    background: white;
}

.navbar-brand {
    background: darkseagreen;
    margin-left: 10%;
    top: 0;
    padding: 1%;
}

body {
    background: #eee;
}

.container {
    margin-top: 2%;
    margin-left: 5%;
    background: white;
}

.row {
    margin-left: 5%;
}

.intro {
    margin-top: 3%;
    text-align: left;
    color: darkseagreen;
}

.aboutMeP {
    margin: auto;
    font-size: large;
    padding: auto;
    margin-bottom: 2%;
}

img {
    margin: 2%;
    margin-left: 0;
    position: relative;
}

hr {
    border: 2px solid lightgrey;
}

.text-block {
    position: absolute;
    bottom: 60px;
    width: 93%;
    background-color: darkseagreen;
    color: black;
    border: 1px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
}

footer {
    text-align: center;
    padding: 3px;
    background: darkgrey;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:500px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    .aboutMeP {
        width: 100%;
    }
}