header {
    background: white;
}

#juwonName {
    color:darkseagreen;
    font-size: larger;
    border:1px solid darkseagreen;
    padding:5%;
}

body {
    background: #eee;
}

.container {
    margin-top: 2%;
    background: white;
}


.intro {
    margin-top: 5%;
    text-align: left;
    color: darkseagreen;
}
.highlights{
    color : green;
}
.highlights2{
    color : purple;
}
.thumbnail{
    display:flex;
    justify-content: center;
    margin-bottom: 8%;
}

.textBox{
    margin-top:4%;
}

hr {
    border: 2px solid lightgrey;
}

.text-block {
    position: absolute;
    bottom: 60px;
    width: 93%;
    background-color: darkseagreen;
    color: black;
    border: 1px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
}

footer {
    text-align: center;
    padding: 1%;
    background: darkgrey;
    color: black;
    position: relative;
    width: 100%;
}

.col-lg-10{
    margin-bottom:10%;
}

.col-lg-8{
    margin-bottom:10%;
}

#uni{
    color:blue;
}